/* Coolors Exported Palette - https://coolors.co/cfa57b-654a5a-e9d0ba-c9979f-612b3f */

/* CSS HEX */
--camel: #CFA57Bff;
--eggplant: #654A5Aff;
--desert-sand: #E9D0BAff;
--tuscany: #C9979Fff;
--old-mauve: #612B3Fff;

/* CSS HSL */
--camel: hsla(30, 47%, 65%, 1);
--eggplant: hsla(324, 15%, 34%, 1);
--desert-sand: hsla(28, 52%, 82%, 1);
--tuscany: hsla(350, 32%, 69%, 1);
--old-mauve: hsla(338, 39%, 27%, 1);

/* SCSS HEX */
$camel: #CFA57Bff;
$eggplant: #654A5Aff;
$desert-sand: #E9D0BAff;
$tuscany: #C9979Fff;
$old-mauve: #612B3Fff;

/* SCSS HSL */
$camel: hsla(30, 47%, 65%, 1);
$eggplant: hsla(324, 15%, 34%, 1);
$desert-sand: hsla(28, 52%, 82%, 1);
$tuscany: hsla(350, 32%, 69%, 1);
$old-mauve: hsla(338, 39%, 27%, 1);

/* SCSS RGB */
$camel: rgba(207, 165, 123, 1);
$eggplant: rgba(101, 74, 90, 1);
$desert-sand: rgba(233, 208, 186, 1);
$tuscany: rgba(201, 151, 159, 1);
$old-mauve: rgba(97, 43, 63, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #CFA57Bff, #654A5Aff, #E9D0BAff, #C9979Fff, #612B3Fff);
$gradient-right: linear-gradient(90deg, #CFA57Bff, #654A5Aff, #E9D0BAff, #C9979Fff, #612B3Fff);
$gradient-bottom: linear-gradient(180deg, #CFA57Bff, #654A5Aff, #E9D0BAff, #C9979Fff, #612B3Fff);
$gradient-left: linear-gradient(270deg, #CFA57Bff, #654A5Aff, #E9D0BAff, #C9979Fff, #612B3Fff);
$gradient-top-right: linear-gradient(45deg, #CFA57Bff, #654A5Aff, #E9D0BAff, #C9979Fff, #612B3Fff);
$gradient-bottom-right: linear-gradient(135deg, #CFA57Bff, #654A5Aff, #E9D0BAff, #C9979Fff, #612B3Fff);
$gradient-top-left: linear-gradient(225deg, #CFA57Bff, #654A5Aff, #E9D0BAff, #C9979Fff, #612B3Fff);
$gradient-bottom-left: linear-gradient(315deg, #CFA57Bff, #654A5Aff, #E9D0BAff, #C9979Fff, #612B3Fff);
$gradient-radial: radial-gradient(#CFA57Bff, #654A5Aff, #E9D0BAff, #C9979Fff, #612B3Fff);